@media screen and  (max-width:480px){
    .list{
        width: 340px;
        height: 100vh;
    }
    .test {
        width: 340px;
        flex-wrap: wrap;
    }
    .listNameValue {
        width: 340px;
        flex-wrap: wrap;
        gap: 32px;
    }
    .button{
        width: 340px;
        margin-left: 25px;
    }
    .buttonAdd{
        margin-left: 25px;
    }
}